.nav {
  text-decoration: none;
}

.movie-card {
  display: flex;
  flex-direction: column;
  height: 150px;
  width: 100%;
  border: 1px solid #000000;
  overflow: hidden;
}

.movie-card:hover {
  cursor: pointer;
}

.mini-poster {
  height: 90%;
  width: 100%;
  transition: all .2s ease-in-out;
  position: relative;
  z-index: -1;
}

.mini-poster:hover {
  transform: scale(1.1);
}

.title-logo-rating {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 30px;
  width: 100%;
  background: linear-gradient( rgb(0, 0, 0, .1), rgb(0, 0, 0, .8),rgb(0, 0, 0, .9));
  margin-top: -20px;
  z-index: 0;
}

.movie-title {
  display: none;
  width: 75%;
  font-size: .8vh;
  z-index: 1;
}

.movie-title:hover {
  width: 75%;
  font-size: .8vh;
}

.movie-title,
.rating {
display: flex;
flex-direction: column;
height: 100%;
margin: 0px 0px 0px 5px;
text-align: left;
justify-content: center;
color: white;
}

.logo {
  height: 50%;
  width: 10%;
  align-self: center;
  margin-left: 3%;
}

.rating {
  font-size: .7rem;
  height: 100%;
}
